:root {
  /* font size */
  --font-Xsmall: 12px;
  --font-small: 14px;
  --font-base: 16px;
  --font-large: 18px;
  --font-Xlarge: 20px;
  --font-header: 32px;

  /* color */
  --color-white: #ffffff;
  --color-skyblue-background: #4b97dc;
  --color-blue-background: #4e61bf;
  --color-button-background: #444446;
  --color-snslogo-background: rgb(78, 97, 191);

  /* font weight */
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

/* global setting */

body {
  margin: 0px;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: var(--font-header);
  font-weight: var(--font-weight-medium);
}

h2 {
  font-size: var(--font-large);
}

h3 {
  font-size: var(--font-small);
  font-weight: var(--font-weight-regular);
}

p {
  font-size: var(--font-base);
  font-weight: var(--font-weight-light);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

button {
  background-color: var(--color-button-background);
  color: var(--color-white);
  padding: 12px 15px;
  border-radius: 7%;
  border-style: none;
  cursor: pointer;
  font-weight: var(--font-weight-medium);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.apps {
  position: relative;
  background: linear-gradient(#4b97dc, #4e61bf);
  width: 100%;
  height: 400px;
  padding: 40px 100px;
  color: var(--color-white);
}

.apps img {
  position: absolute;
  right: 100px;
  bottom: 0px;
  width: 300px;
}

.showportfolio {
  background-color: var(--color-white);
  text-align: center;
  padding: 80px;
}

.services {
  padding: 50px;
  background-color: var(--color-blue-background);
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-white);
}

.services__list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.services h3,
.services h2 {
  margin: 0;
}

.services__list__item {
  margin-top: 50px;
  text-align: center;
}

.services__list__item i {
  font-size: 30px;
  color: var(--color-blue-background);
  background-color: var(--color-white);
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.services__list__item i:hover {
  color: pink;
  transform: scale(1.2);
  transition: all ease-in 300ms;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.portfolio h3,
.portfolio h2 {
  margin: 0;
}

.portfolio__list {
  display: flex;
  flex-direction: column;
}

.portfolio__list.top {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.portfolio__list.bottm {
  display: flex;
  flex-direction: row;
}

.portfolio__list__item {
  position: relative;
  padding-top: 50px;
  padding-left: 30px;
  color: var(--color-white);
  width: 450px;
  height: 250px;
}

.portfolio__list__item.first {
  background-image: url(img/portfolio-1.jpeg);
  background-size: cover;
}

.portfolio__list__item.second {
  background-image: url(img/portfolio-2.jpeg);
  background-size: cover;
}

.portfolio__list__item.third {
  background-image: url(img/portfolio-3.jpeg);
  background-size: cover;
}

.portfolio__list__item.forth {
  background-image: url(img/portfolio-4.jpeg);
  background-size: cover;
}

.portfolio__list__item--overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.portfolio__list__item:hover .portfolio__list__item--overlay {
  border: 10px white solid;
  transition: 300ms ease-out all;
}

footer {
  padding: 30px;
  text-align: center;
}

.snsicons {
  margin-bottom: 30px;
  font-size: 20px;
}

.snsicons i {
  background-color: var(--color-blue-background);
  line-height: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}
